<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="https://media.discordapp.net/attachments/610108081157963787/758399366356140042/Logo_new.jpg">

	<link rel="preload" href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap' as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">

	<!-- Primary Meta Tags -->
	<title>Portfolio - Castaybert Stanislas</title>
	<meta name="author" content="Castaybert Stanislas x Vuetify">
	<meta name="title" content="Portfolio - Castaybert Stanislas">
	<meta name="description" content="⚡ Dev Fullstack TS | DevOps, CI/CD, Angular, Vue">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://stan1712.com/">
	<meta property="og:title" content="Portfolio - Castaybert Stanislas">
	<meta property="og:description" content="⚡ Dev Fullstack TS | DevOps, CI/CD, Angular, Vue">
	<meta property="og:image" content="https://stan1712.com/assets/projects/stan1712.com.prot.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://stan1712.com/">
	<meta property="twitter:title" content="Portfolio - Castaybert Stanislas">
	<meta property="twitter:description" content="⚡ Dev Fullstack TS | DevOps, CI/CD, Angular, Vue">
	<meta property="twitter:image" content="https://stan1712.com/assets/projects/stan1712.com.prot.png">
</head>

<body>
	<div id="app">
		<v-app>
			<v-main>
				<section id="hero">
					<v-row no-gutters>
						<v-img :lazy-src="landImg[0]" :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" :src="landImg[1]" alt="Arrière plan d'accueil">
							<template v-slot:placeholder>
								<v-row class="fill-height ma-0" align="center" justify="center">
									<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
								</v-row>
							</template>

							<v-theme-provider dark>
								<v-container fill-height>
									<v-row align="center" class="white--text mx-auto" justify="center">
										<v-col class="white--text text-center" cols="12" tag="h1">
											<span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']" class="font-weight-light">
												Bonjour, moi c'est
											</span>

											<br>

											<span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']" class="font-weight-black">
												Castaybert Stanislas
											</span>
										</v-col>

										<v-btn aria-label="Poursuivre la visite du site" class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
											<i class="fa fa-chevron-down" aria-hidden="true"></i>
										</v-btn>
									</v-row>
								</v-container>
							</v-theme-provider>
						</v-img>
					</v-row>
				</section>

				<section id="about-me" style="min-height: 100vh;">
					<div class="py-12"></div>

					<v-container class="text-center">
						<h2 class="display-2 font-weight-bold mb-3">Qui suis-je ?</h2>

						<v-responsive class="mx-auto mb-8" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-avatar
							class="elevation-12 mb-12"
							size="128"
						>
							<v-img
								alt="Image de profil"
								lazy-src="./assets/mine_pp_lazy.webp"
								src="./assets/mine_pp.webp"
							></v-img>
						</v-avatar>

						<v-responsive class="mx-auto mb-8">
							<v-btn class="mx-3" aria-label="Accéder à Github" color="blue-grey darken-4" href="https://github.com/stan1712/" rel="noopener" target="_blank" outlined large icon>
								<i class="fab fa-github" aria-hidden="true"></i>
							</v-btn>
							<v-btn class="mx-3" aria-label="Accéder à Twitter" color="light-blue lighten-2" href="https://twitter.com/stanobdx/" rel="noopener" target="_blank" outlined large icon>
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</v-btn>
							<v-btn class="mx-3" aria-label="Accéder à Instagram" color="red lighten-3" href="https://www.instagram.com/stan_bdx/" rel="noopener" target="_blank" outlined large icon>
								<i class="fab fa-instagram" aria-hidden="true"></i>
							</v-btn>
							<v-btn class="mx-3" aria-label="Accéder à Instagram" color="blue darken-4" href="https://www.linkedin.com/in/stanislas-castaybert/" rel="noopener" target="_blank" outlined large icon>
								<i class="fab fa-linkedin" aria-hidden="true"></i>
							</v-btn>
						</v-responsive>

						<v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
							Enchanté, moi c'est Stanislas ! Je suis passionné par le développement depuis tout jeune. Expert dans certaines <b>technologies back-end et front-end</b>, ma polyvalence s'étend également à des <b>connaissances solides en DevOps et en web design</b>, me permettant de concevoir des solutions complètes.<br /><br />
							<b>Ingénieur (Bac+5) fraîchement diplômé</b>, j'ai terminé mon alternance de 3 ans chez DEAL Informatique et je suis maintenant <b>à l'écoute d'opportunités (CDI ou missions)</b>. Je continue en parallèle mon activité de freelance chez Infographart, ce qui me donne une <b>grande polyvalence</b> et une <b>forte capacité d'adaptation</b> à tout type de projet.<br /> <br />

							<v-row class="my-4">
								<v-col cols="12" sm="6">
									<v-btn 
										block
										outlined
										color="primary"
										append-icon="fas fa-arrow-up-right-from-square"
										@click="tpTo('./CV.pdf')"
									>
										CV Complet
										<i class="fas fa-external-link-alt pl-2" aria-hidden="true"></i>
									</v-btn>
									<span class="text-muted font-italic text-caption">Vous retrouverez toutes mes expériences, formations et autres détails à mon propos.</span>
								</v-col>
								<v-col cols="12" sm="6">
									<v-btn 
										block
										outlined
										color="primary"
										append-icon="fa fa-link"
										@click="tpTo('./DC.pdf')"
									>
										Dossier de compétences
										<i class="fas fa-external-link-alt pl-2" aria-hidden="true"></i>
									</v-btn>
									<span class="text-muted font-italic text-caption">Vous retrouverez toutes mes expériences et projets de manière détaillée et exhaustive.</span>
								</v-col>
							</v-row>
						</v-responsive>
					</v-container>
				</section>

				<section id="timeline">
					<v-container>
						<h2 class="display-2 font-weight-bold mb-3 text-center">Expériences</h2>

						<v-responsive class="mx-auto mb-8" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-responsive class="mx-auto title font-weight-light mb-8" max-width="1280">
							<v-timeline
								:dense="$vuetify.breakpoint.smAndDown"
							>
								<v-timeline-item
									v-for="experience in experiences"
									:key="experience.name"
									:large="experience.logo"
									color="white"
								>
									<template v-slot:icon v-if="experience.logo">
										<img
											:alt="'Logo de ' + experience.name"
											:src="experience.logo.url"
											contain
											:width="experience.logo.width ? experience.logo.width : '42px'"
										>
									</template>
									<template
										v-slot:opposite
										v-if="!$vuetify.breakpoint.smAndDown"
									>
										<h5 class="font-weight-regular">{{ experience.time }}</h5>
									</template>
									<v-card>
										<v-card-title
											style="display: block"
											class="pb-0"
										>
											<h1 class="headline">{{ experience.name }}</h1>
											<h2 class="subtitle-1">{{ experience.type }}</h2>
											<h6 v-if="$vuetify.breakpoint.smAndDown">{{ experience.time }}</h6>
										</v-card-title>
										<v-divider class="ml-4 mr-12 mt-2"></v-divider>
										<v-card-text
											v-if="experience.details"
											v-html="experience.details"
										></v-card-text>

										<v-chip color="primary" outlined class="mt-2 ml-1 float-right" v-for="techno in experience.technos" :key="techno" small>{{ techno }}</v-chip>
									</v-card>
								</v-timeline-item>
							</v-timeline>
						</v-responsive>
					</v-container>

					<div class="py-12"></div>
				</section>

				<section id="stats">
					<v-parallax
						:height="$vuetify.breakpoint.smAndDown ? 700 : 500"
						lazy-src="https://firebasestorage.googleapis.com/v0/b/katana-main/o/companies%2F36C84mB7deUm2RGEMLTP%2Fportfolio%2FIMG_20210819_085618_2_800x800.webp?alt=media&token=aecb25d0-f192-486b-8d36-9a0c2eded213"
						src="./assets/train_background.webp"
					>
						<v-container fill-height>
							<v-row class="mx-auto">
								<v-col v-for="[value, title] of stats" :key="title" cols="12" md="3">
									<div class="text-center">
										<div class="display-3 font-weight-black mb-4" v-text="value"></div>

										<div class="title font-weight-regular text-uppercase" v-text="title"></div>
									</div>
								</v-col>
							</v-row>
						</v-container>
					</v-parallax>
				</section>

				<section id="portfolio">
					<div class="py-12"></div>

					<v-container>
						<h2 class="display-2 font-weight-bold mb-3 text-center">Portfolio</h2>

						<v-responsive class="mx-auto mb-12" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-container>
							<v-row>
								<v-col v-for="(item, i) in items" :key="i" cols="12" md="6" lg="4" xl="3">
									<v-card height="350px">
										<v-img
											:alt="'Illustration de ' + item.title"
											:src="item.src"
											class="white--text align-end"
											gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
											height="200px"
											max-width="100%"
										>
											<v-card-title>
												<v-col cols="auto" class="pa-0">
													<h3 class="font-weight-bold">{{ item.title }}</h3>
													<v-chip
														color="white"
														outlined
														class="mr-1 mb-1"
														v-for="techno in item.technos"
														:key="techno"
														small
													>{{ techno }}</v-chip>
												</v-col>
											</v-card-title>
										</v-img>

										<v-card-text>
											{{ item.text }}
										</v-card-text>

										<v-card-actions class="py-0">
											<v-row class="ma-1">
												<v-col cols="auto" class="pa-0">
													<v-btn
														aria-label="Connaître plus sur le projet"
														class="font-weight-bold px-2"
														v-if="item.about"
														text
														@click="item.expand = !item.expand"
													>
														En savoir plus
													</v-btn>
												</v-col>

												<v-col cols="auto" class="pa-0" v-if="item.link">
													<v-btn
														aria-label="Visiter le site du projet"
														class="font-weight-bold px-2"
														text
														:href="item.link"
														rel="noopener"
														target="_blank"
													>
														Visiter
													</v-btn>
												</v-col>

												<v-col cols="auto" class="pa-0">
													<v-btn
														aria-label="Visiter le repository Github du projet"
														class="font-weight-bold px-2"
														v-if="item.github"
														text
														:href="item.github"
														rel="noopener"
														target="_blank"
													>
														Repo Git
													</v-btn>
												</v-col>
											</v-row>
										</v-card-actions>

										<v-expand-transition>
											<v-card
												v-if="item.expand && item.about"
												class="transition-fast-in-fast-out v-card--reveal"
												style="height: 100%;"
											>
												<v-card-text class="pb-0">
													<v-row>
														<v-col cols="col">
															<p class="text-h4 text--primary">
																{{ item.title }}
															</p>
														</v-col>
														<v-col cols="auto">
															<v-img
																:alt="'Logo de ' + item.about.logo"
																:src="item.about.logo"
																class="mb-5"
																width="70" 
																contain
															></v-img>
														</v-col>
													</v-row>
													<p v-html="item.about.text"></p>
												</v-card-text>

												<v-card-actions>
													<v-btn
														text
														:aria-label="`Fermer la description du projet ${item.title}`"
														class="font-weight-bold"
														@click="item.expand = false"
													>
														Fermer
													</v-btn>
												</v-card-actions>
											</v-card>
										</v-expand-transition>

									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</v-container>

					<div class="py-12"></div>
				</section>
			</v-main>

			<v-footer class="justify-center" color="#292929" height="60">
				<div class="grey--text text--lighten-1 text-center body-1">
					&copy; {{ new Date().getFullYear() }} — Made with 💙 by Stanislas C. with Vue & Vuetify<br />
				</div>
			</v-footer>
		</v-app>
	</div>
	
	<style>
		.v-card--reveal {
			bottom: 0;
			opacity: 1 !important;
			position: absolute;
			width: 100%;
		}

		/* SCROLLBAR */
		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.4);
			border-radius: 3px;
			border: 1px solid #fff;
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.3/vuetify.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data() {
				return {
					experiences: [{
						name: 'DEAL Software',
						type: 'Alternance - Développeur Junior',
						details: `
							🏗️ DEAL SOFTWARE est un éditeur de solutions métiers ouvertes et modulaires pour la gestion de chantiers, de finances, de comptabilité et de découverture.<br/>
							En tant qu'Alternant Développeur Junior j'ai pu travailler sur ces projets :<br/><br/>

							➡️ Conception et développement d'une plateforme de transfert et d'authentification de factures (dématérialisation des factures - B2B ; B2C).<br/>
							➡️ Développement d'un portail applicatif (DEAL.Workspace) regroupant les solutions ERP, BI, etc.<br/>
							➡️ Wireframing et maquettage d'écran d'administration et composants graphiques sous Figma et intégration de ces derniers sous Angular.<br/>
							➡️ Conception de POC sur des technologies diverses pour apporter de meilleures solutions à des projets internes et clients.<br/>
							➡️ Développement de modules propriétaires (Portail Liferay) pour se connecter à nos solutions.<br/>
							➡️ Accompagnement et encadrement de stagiaires courtes et longues durées sur mon métier et la vie en entreprise.<br/>
						`,
						logo: {
							url: 'https://deal.fr/wp-content/uploads/2022/09/cropped-android-chrome-512x512-1-32x32.png',
							width: "28px"
						},
						technos: [
							'Java (Karaf, OSGi, Liferay)', 'Angular (Nx)', 'NestJS', 'Apache Camel', 'HTML/SCSS',
							'GitLab CI/CD', 'Dokploy', 'Nexus', 'Centreon', 'Docker', 'Linux (serveurs)', 'Jira', 'Confluence', 'SonarQube', 'Snyk', 'Gradle', 'Keycloak', 'Figma',
							'Unifi (Ubiquiti)', 'Configuration de serveurs',
							'Tests unitaires (JUnit)', 'Rédaction de cahiers de tests', 'Tests de charge', 'Tests de régression', 'Analyse de logs',
							'Agile (SCRUM)', 'ISO 27001', 'Conception technique', 'Support applicatif (N1/N2)', 'Support IT interne (N1/N2)', 'Relation client', 'Communication (partenaire externe)', 'Formation', 'Mentorat', 'Autonomie'
						],
						time: "Sept. 2022 - Sept. 2025"
					},
					{
						name: 'Infographart',
						type: 'Freelance',
						logo: {
							url: 'https://cdn.infographart.com/logos/IFGA/LogoIFGA.svg',
						},
						details: `
							🌟 Infographart est un collectif de développeurs, suite à mon ancienneté dans le groupe et à ma force de proposition, je suis en charge de :<br/><br/>

							➡️ Katana : Un CRM et ERP modulaire destiné aux TPE et PME<br/>
							➡️ Développement de modules métiers pour Katana (CRM/ERP)<br/>
							➡️ Intégration de modèles d'IA dans les outils existants (création de billets de blogs, génération de descriptions d'articles)<br/>
							➡️ Renault Lafay Roanne : Une boutique en ligne de pré-vente de véhicules d'occasion<br/>
							➡️ Mise en place et maintenance des CI/CD de nos applications<br/>
							➡️ Création et argumentation de discours clients pour d'éventuels prospects<br/>
							➡️ Veille de la qualité et de l'intégrité des applications avec SonarQube, Sentry et Snyk<br/>
							➡️ Gestion opérative des serveurs et solutions d'hébergements pour nos applications et sites clients<br/>
							➡️ Gestion des noms de domaines, réseaux et routages de nos applications et sites clients<br/>
							➡️ Maintenance et réponse de support sur nos solutions<br/>
						`,
						technos: [
                            'Vue.js 2 & 3', 'Vuetify', 'Node.js', 'Nest.js', 'PHP', 'JavaScript/TypeScript', 'Firebase', 'Google Cloud Functions (GCP)', 'MySQL', 'PostgreSQL', 'Stripe API', 'WordPress/WooCommerce', 'API OpenAI & Gemini',
                            'GitLab CI/CD', 'Github Actions', 'Docker', 'Kubernetes (K8s)', 'GCP', 'Vercel', 'Cloudflare', 'Helm', 'Grafana', 'SonarQube', 'Sentry', 'Snyk', 'UptimeKuma', 'JIRA', 'Bitbucket', 'ESlint', 'Prettier',
                            'Prise de décision', 'Pilotage de refonte', 'Architecture logicielle', 'Gestion de projet', 'FinOps', 'Benchmark technique', 'Relation client', 'Formation', 'Coordination d\'équipe', 'Autonomie', 'Support & Maintenance', 'Définition de standards'
                        ],
						time: "Mai 2018 - Aujourd'hui"
					},
					{
						name: 'Instagram Recovery',
						type: 'Freelance',
						logo: {
							url: "./assets/projects/instagram-recovery.com.logo.png"
						},
						details: `Mission réalisée pour un client. Création d'un utilitaire sous forme d'application web qui permets de récupérer les messages et données supprimées mais gardés sur Instagram.`,
						technos: ['Firebase', 'Vue.JS', 'Vite', 'Vercel'],
						time: "Mai-Juin 2020"
					},
					{
						name: 'Météa',
						type: 'Freelance',
						details: `Mission réalisée pour un client. Installation et mise à niveau (passage PHP 5.6 à PHP 7) d'un système de gestion de fichiers et intranet en PHP avec une interface administrateur et utilisateur.`,
						technos: ['PHP', 'MySQL'],
						time: "Juin 2020"
					},
					{
						name: 'DEAL Software',
						type: 'Stage',
						logo: {
							url: 'https://deal.fr/wp-content/uploads/2022/09/cropped-android-chrome-512x512-1-32x32.png',
							width: "28px"
						},
						details: `🔎 Lors de mon stage d'observation de troisième chez DEAL Informatique, j'ai pu - pendant une semaine - y découvrir les différents métiers que composait une entreprise d'édition de logiciel.`,
						technos: [],
						time: "Déc. 2015"
					}],
					items: [
						{
							src: './assets/projects/stanislasbdx-cc.prot.png',
							title: 'Portfolio Sheer',
							text: 'Un portfolio fait pour regrouper mes projets vidéos et photo, développé avec Tailwind et des animations GSAP.',
							link: 'https://stanislasbdx.cc/',
							technos: ['Vue.JS', 'Nuxt', 'Tailwind', 'GSAP'],
							expand: false
						},
						{
							src: 'https://dam.malt.com/kumokiewrhwqbuhd4vfz?func=bound&w=512',
							title: 'Katana',
							text: 'ERP modulaires pour les petites, moyennes, ou grandes entreprises.',
							link: 'https://katana-crm.com/',
							about: {
								text: "Katana offre un éventail de fonctionnalités allant de la gestion de relation client, gestion de stock, à la création d'un blog !<br/>Grâce à son intelligence artificielle, Katana est un réel atout dans le développement d'une organisation.",
								logo: "https://cdn.infographart.com/logos/KATANA/apple-touch-icon-120x120.png"
							},
							technos: ['Vue.JS', 'Firebase', 'OpenAI', 'GCP Run', 'REST API'],
							expand: false
						},
						{
							src: './assets/projects/upshoot.prot.png',
							title: 'UpShoot',
							text: "Une solution complète et modulaire pour la gestion de tournages de cinéma, conçue pour optimiser le travail d'une équipe.",
							link: 'https://upshoot.cc/',
							about: {
								text: "UpShoot rend la gestion de production cinématographique simple et efficace.<br/>Cette solution complète vous permet de gérer vos projets de A à Z : planifiez vos prises, invitez votre équipe par QR code, obtenez un rapport de tournage détaillé pour les monteurs, et bien plus encore.",
								logo: "https://cdn.infographart.com/logos/Upshoot/android-chrome-192x192.png"
							},
							technos: ['Vue.JS', 'Firebase', 'Nuxt'],
							expand: false
						},
						{
							src: './assets/projects/meili.prot.webp',
							title: 'Meili - E-Shop',
							text: 'E-shop cosmétique conçu et réalisé avec Vue.JS avec une intégration de Stripe pour les paiements.',
							technos: ['Vue.JS', 'Firebase', 'Nuxt', 'Stripe'],
							expand: false
						},
						{
							src: './assets/projects/asiatex-eshop.prot.png',
							title: 'Asiatex - E-Shop',
							text: 'E-shop en B2B réalisé avec Wordpress & WooCommerce.',
							technos: ['Wordpress', 'WooCommerce'],
							expand: false
						},
						{
							src: './assets/projects/vizion.wetstonrp.prot.png',
							title: 'ViZion',
							text: 'Solution de gestion de personnage Roleplay pour le serveur Minecraft WetstonRP.',
							link: 'https://vizion.wetstonrp.com/',
							technos: ['PHP', 'MySQL'],
							expand: false
						},
						{
							src: './assets/projects/horizon.wetstonrp.com.prot.png',
							title: 'HoriZon',
							text: 'HoriZon est une interface en ligne permettant de gérer un personnage Roleplay, toujours pour le serveur Minecraft WetstonRP.',
							about: {
								text: "Successeur de ViZion, HoriZon est une interface en ligne regroupant tous les services publiques et entreprises liées au serveur Minecraft WetstonRP.",
								logo: "./assets/projects/horizon.wetstonrp.com.logo.png"
							},
							link: 'https://horizon.wetstonrp.com/',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: './assets/projects/instagram-recovery.com.prot.png',
							title: 'Instagram Recovery',
							text: 'Plateforme de récupération de données supprimées et cachées par Instagram.',
							about: {
								text: "Instagram Recovery est un site permettant à chaque utilisateur de l'application et des services instagram à récupérer leurs conversations supprimées.",
								logo: "./assets/projects/instagram-recovery.com.logo.png"
							},
							link: 'https://instagram-recovery.com',
							technos: ['Firebase', 'Vue.JS', 'Vite'],
							expand: false
						},
						{
							src: './assets/projects/agriflow.prot.png',
							title: 'AgriFlow',
							text: 'Application Desktop de gestion de stocks et marketplace web qui mets en relation les producteurs locaux avec les consommateurs.',
							about: {
								text: "A l'issue du Workshop 2022 de l'EPSI, nous avons réalisé en équipe une application Angular de gestion de stocks lié au marketplace par le biais d'une API REST développée avec Express.",
								logo: "https://gitlab.com/uploads/-/system/group/avatar/58627094/AGRO.png?width=128"
							},
							github: "https://gitlab.com/epsi-wpb3-grp6",
							technos: ['Angular', 'Node.JS', 'Express', 'Firebase'],
							expand: false
						},
						{
							src: './assets/projects/tribido.prot.png',
							title: 'TriBidO',
							text: 'Application de vente aux enchères en ligne.',
							about: {
								text: "Projet EPSI : Par équipe, nous avons réalisé une application type marketplace permettant la mise en ligne et l'achat de biens mis aux enchères.",
								logo: "https://tribido-db3zywu53-stanislasbdx.vercel.app/tbo-heart.png"
							},
							link: 'https://tribido-db3zywu53-stanislasbdx.vercel.app',
							github: 'https://github.com/stanislasbdx/TriBidO',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: './assets/projects/slash.stan1712.com.prot.png',
							title: 'Stan Is Slash',
							text: 'Blog fait en PHP des plus belles punchlines.',
							link: 'https://slash.stan1712.com/',
							github: 'https://github.com/stan1712/StanIsSlash',
							technos: ['PHP', 'MySQL'],
							expand: false
						},
						{
							src: 'https://dam.malt.com/rn8x1b60eotbjq0pexun?func=bound&w=512',
							title: 'RollEat',
							text: 'Application de livraison de repas aléatoires à domicile.',
							about: {
								text: "RollEat c'est une application gratuite qui permets sur un coup de tête de pouvoir générer un repas aléatoire en fonction de vos goûts !",
								logo: "https://avatars.githubusercontent.com/u/75129344"
							},
							github: 'https://github.com/RollEat/RollEat',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: 'https://www.eothello.com/images/favicon_othello.png',
							title: 'Othello',
							text: 'Reproduction du jeu Othello en python (projet EPSI).',
							github: 'https://github.com/stan1712/EPSI-Othello',
							technos: ['Python'],
							expand: false
						},
						{
							src: './assets/projects/stan1712.com.prot.png',
							title: 'Portfolio',
							text: 'Portfolio actuel qui regroupe, présentation, compétences, expériences et projets.',
							github: 'https://github.com/stanislasbdx/stan1712.com',
							link: "https://stan1712.com",
							technos: ['HTML & CSS', 'Vue', 'Vuetify'],
							expand: false
						},
						{
							src: 'file://C:/Users/s.castaybert/Downloads/ban.png',
							title: 'Wetston Manager',
							text: 'Robot discord de gestion d\'un serveur roleplay.',
							github: 'https://git.stan1712.com/wetston/WetstonManager',
							technos: ['Discord.JS', 'Javascript', 'Node.JS'],
							expand: false
						},
						{
							src: '',
							title: 'Pterodactyl Egg Discord',
							text: 'Création d\'un egg Pterodactyl lié à une image Docker pour serve des robots discord.',
							about: {
								text: "Pterodactyl permets l\'utilisation d\'<i>egg</i> qui sont des blueprints de serveurs préconfigurés. J'en ai généré un et fait une image Docker qui s\'appuie sur Node.",
								logo: "https://cdn.pterodactyl.io/site-assets/logo-icon.png"
							},
							github: 'https://github.com/stanislasbdx/pterodactyl-egg-discord',
							technos: ['Pterodactyl', 'Docker', 'Shell scripts'],
							expand: false
						},
					],
					stats: [
						[-1, 'Projets'],
						[-1, 'Technologies maitrisées'],
						[7, 'Certifications'],
						[-1, 'Téléchargements'],
					],
					landImg: [
						"https://firebasestorage.googleapis.com/v0/b/katana-main/o/companies%2F36C84mB7deUm2RGEMLTP%2Fportfolio%2FIMG_20200928_131237_800x800.webp?alt=media&token=98158c57-bd5c-4500-947c-1b0179909b85",
						"./assets/bridge_background.webp"
					]
				}
			},
			methods: {
				tpTo(url) {
					window.location = url;
				},
			},
			created() {
				fetch("https://api.spiget.org/v2/authors/114782/resources").then(response => response.json()).then(response => {
					response.forEach((resource) => {
						this.items.push({
							src: `https://www.spigotmc.org/` + resource.icon.url,
							title: resource.name,
							text: resource.tag,
							github: resource.sourceCodeLink,
							link: `https://www.spigotmc.org/resources/${resource.name}.${resource.id}/`,
							technos: ['Spigot', 'Java', 'Gradle']
						});

						this.stats[3][0] += Number(resource.downloads);
					});
				});

				function calculateTechNum(items, experiences) {
                    const allTechnos = [...items, ...experiences].flatMap(item => item.technos || []);
                    return new Set(allTechnos).size;
                }

                this.stats[1][0] = calculateTechNum(this.items, this.experiences);

				this.stats[0][0] = this.items.length + this.experiences.length;
			}
		})
	</script>
</body>

</html>