<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="https://media.discordapp.net/attachments/610108081157963787/758399366356140042/Logo_new.jpg">

	<link rel="preload" href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap' as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'">

	<!-- Primary Meta Tags -->
	<title>Portfolio - Castaybert Stanislas</title>
	<meta name="author" content="Castaybert Stanislas x Vuetify">
	<meta name="title" content="Portfolio - Castaybert Stanislas">
	<meta name="description" content="⚡ Développeur back-end • Vue.JS / PHP & MySQL">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://stan1712.com/">
	<meta property="og:title" content="Portfolio - Castaybert Stanislas">
	<meta property="og:description" content="⚡ Développeur back-end • Vue.JS / PHP & MySQL">
	<meta property="og:image" content="https://stan1712.com/share/stan1712.com.prot.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://stan1712.com/">
	<meta property="twitter:title" content="Portfolio - Castaybert Stanislas">
	<meta property="twitter:description" content="⚡ Développeur back-end • Vue.JS / PHP & MySQL">
	<meta property="twitter:image" content="https://stan1712.com/share/stan1712.com.prot.png">
</head>

<body>
	<div id="app">
		<v-app>
			<v-main>
				<section id="hero">
					<v-row no-gutters>
						<v-img :lazy-src="landImg[0]" :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" :src="landImg[1]" alt="Arrière plan d'accueil">
							<template v-slot:placeholder>
								<v-row class="fill-height ma-0" align="center" justify="center">
									<v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
								</v-row>
							</template>

							<v-theme-provider dark>
								<v-container fill-height>
									<v-row align="center" class="white--text mx-auto" justify="center">
										<v-col class="white--text text-center" cols="12" tag="h1">
											<span :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']" class="font-weight-light">
												Bonjour, moi c'est
											</span>

											<br>

											<span :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']" class="font-weight-black">
												Castaybert Stanislas
											</span>

										</v-col>

										<v-btn aria-label="Poursuivre la visite du site" class="align-self-end" fab outlined @click="$vuetify.goTo('#about-me')">
											<i class="fa fa-chevron-down" aria-hidden="true"></i>
										</v-btn>
									</v-row>
								</v-container>
							</v-theme-provider>
						</v-img>
					</v-row>
				</section>

				<section id="about-me">
					<div class="py-12"></div>

					<v-container class="text-center">
						<h2 class="display-2 font-weight-bold mb-3">Qui suis-je ?</h2>

						<v-responsive class="mx-auto mb-8" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-avatar
							class="elevation-12 mb-12"
							size="128"
						>
							<v-img
								alt="Image de profil"
								lazy-src="https://stan1712.com/share/DSC8197_lazy.webp"
								src="https://stan1712.com/share/DSC8197.webp"
							></v-img>
						</v-avatar>

						<v-responsive class="mx-auto title font-weight-light mb-8" max-width="720">
							Je suis passionné d'informatique et de programmation depuis tout petit, j'ai de bonnes connaissances dans les langages back-end et quelques notions dans les langages front-end, ce qui fait de moi un développeur polyvalent (fullstack).<br />
							Je travaille en tant que développeur freelance en appui avec Infographart, ce qui me permets d'être à la fois prestataire de service mais aussi freelance.
						</v-responsive>

						<v-btn aria-label="Accéder à Github" color="blue-grey darken-4" href="https://github.com/stan1712/" rel="noopener" target="_blank" outlined large icon>
							<i class="fab fa-github" aria-hidden="true"></i>
						</v-btn>
						<v-btn aria-label="Accéder à Twitter" color="light-blue lighten-2" href="https://twitter.com/stanobdx/" rel="noopener" target="_blank" outlined large icon>
							<i class="fab fa-twitter" aria-hidden="true"></i>
						</v-btn>
						<v-btn aria-label="Accéder à Instagram" color="red lighten-3" href="https://www.instagram.com/stan_bdx/" rel="noopener" target="_blank" outlined large icon>
							<i class="fab fa-instagram" aria-hidden="true"></i>
						</v-btn>
						<v-btn aria-label="Accéder à Instagram" color="blue darken-4" href="https://www.linkedin.com/in/stanislas-castaybert/" rel="noopener" target="_blank" outlined large icon>
							<i class="fab fa-linkedin" aria-hidden="true"></i>
						</v-btn>
					</v-container>

					<div class="py-4"></div>
				</section>

				<section id="timeline">
					<v-container class="text-center">
						<h2 class="display-2 font-weight-bold mb-3">Mes expériences</h2>

						<v-responsive class="mx-auto mb-8" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-responsive class="mx-auto title font-weight-light mb-8" max-width="1280">
							<v-timeline
								:dense="$vuetify.breakpoint.smAndDown"
							>
								<v-timeline-item
									v-for="experience in experiences"
									:key="experience.name"
									:large="experience.logo"
									color="white"
								>
									<template v-slot:icon v-if="experience.logo">
										<img
											:alt="'Logo de ' + experience.name"
											:src="experience.logo.url"
											contain
											:width="experience.logo.width ? experience.logo.width : '42px'"
										>
									</template>
									<template
										v-slot:opposite
										v-if="!$vuetify.breakpoint.smAndDown"
									>
										<span>{{ experience.time }}</span>
									</template>
									<v-card class="mx-2">
										<v-card-title style="display: block">
											<h1 class="headline">{{ experience.name }}</h1>
											<h3 v-if="$vuetify.breakpoint.smAndDown">{{ experience.time }}</h3>
											<h2 class="subtitle-1">{{ experience.type }}</h2>
										</v-card-title>
										<v-card-text
											v-if="experience.details"
											v-html="experience.details"
										></v-card-text>

										<v-chip color="primary" outlined class="mt-2 ml-1 float-right" v-for="techno in experience.technos" :key="techno" small>{{ techno }}</v-chip>
									</v-card>
								</v-timeline-item>
							</v-timeline>
						</v-responsive>
					</v-container>

					<div class="py-12"></div>
				</section>

				<section id="stats">
					<v-parallax
						:height="$vuetify.breakpoint.smAndDown ? 700 : 500"
						lazy-src="https://firebasestorage.googleapis.com/v0/b/katana-main/o/companies%2F36C84mB7deUm2RGEMLTP%2Fportfolio%2FIMG_20210819_085618_2_800x800.webp?alt=media&token=aecb25d0-f192-486b-8d36-9a0c2eded213"
						src="https://stan1712.com/share/IMG_20210819_085618_2.webp"
					>
						<v-container fill-height>
							<v-row class="mx-auto">
								<v-col v-for="[value, title] of stats" :key="title" cols="12" md="3">
									<div class="text-center">
										<div class="display-3 font-weight-black mb-4" v-text="value"></div>

										<div class="title font-weight-regular text-uppercase" v-text="title"></div>
									</div>
								</v-col>
							</v-row>
						</v-container>
					</v-parallax>
				</section>

				<section id="portfolio">
					<div class="py-12"></div>

					<v-container>
						<h2 class="display-2 font-weight-bold mb-3 text-center">Portfolio</h2>

						<v-responsive class="mx-auto mb-12" width="56">
							<v-divider class="mb-1"></v-divider>

							<v-divider></v-divider>
						</v-responsive>

						<v-container>
							<v-row>
								<v-col v-for="(item, i) in items" :key="i" cols="12" sm="6" md="4" xl="3">
									<v-card>
										<v-img
											:alt="'Illustration de ' + item.title"
											:src="item.src"
											class="white--text align-end"
											gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
											height="200px"
											max-width="100%"
										>
											<v-card-title>
												<v-col cols="auto" class="pa-0">
													<h3 class="font-weight-bold">{{ item.title }}</h3>
													<v-chip
														color="white"
														outlined
														class="mr-1 mb-1"
														v-for="techno in item.technos"
														:key="techno"
														small
													>{{ techno }}</v-chip>
												</v-col>
											</v-card-title>
										</v-img>

										<v-card-text>
											{{ item.text }}
										</v-card-text>

										<v-card-actions>
											<v-row class="ma-1">
												<v-col cols="auto" class="pa-0">
													<v-btn
														aria-label="Connaître plus sur le projet"
														class="font-weight-bold px-2"
														v-if="item.about"
														text
														@click="item.expand = !item.expand"
													>
														En savoir plus
													</v-btn>
												</v-col>

												<v-col cols="auto" class="pa-0">
													<v-btn
														aria-label="Visiter le site du projet"
														class="font-weight-bold px-2"
														:disabled="!item.link"
														text
														:href="item.link"
														rel="noopener"
														target="_blank"
													>
														Visiter
													</v-btn>
												</v-col>

												<v-col cols="auto" class="pa-0">
													<v-btn
														aria-label="Visiter le repository Github du projet"
														class="font-weight-bold px-2"
														v-if="item.github"
														text
														:href="item.github"
														rel="noopener"
														target="_blank"
													>
														Repo Git
													</v-btn>
												</v-col>
											</v-row>											
										</v-card-actions>

										<v-expand-transition>
											<v-card
												v-if="item.expand && item.about"
												class="transition-fast-in-fast-out v-card--reveal"
												style="height: 100%;"
											>
												<v-card-text class="pb-0">
													<v-row>
														<v-col cols="col">
															<p class="text-h4 text--primary">
																{{ item.title }}
															</p>
														</v-col>
														<v-col cols="auto">
															<v-img
																:alt="'Logo de ' + item.about.logo"
																:src="item.about.logo"
																class="mb-5"
																width="70" 
																contain
															></v-img>
														</v-col>
													</v-row>
													<p v-html="item.about.text"></p>
												</v-card-text>

												<v-card-actions>
													<v-btn
														text
														:aria-label="`Fermer la description du projet ${item.title}`"
														class="font-weight-bold"
														@click="item.expand = false"
													>
														Fermer
													</v-btn>
												</v-card-actions>
											</v-card>
										</v-expand-transition>

									</v-card>
								</v-col>
							</v-row>
						</v-container>
					</v-container>

					<div class="py-12"></div>
				</section>
			</v-main>

			<v-footer class="justify-center" color="#292929" height="60">
				<div class="grey--text text--lighten-1 text-center body-1">
					&copy; {{ new Date().getFullYear() }} — Made with 💙 by Stanislas C. with Vue & Vuetify<br />
				</div>
			</v-footer>
		</v-app>
	</div>
	
	<style>
		.v-card--reveal {
			bottom: 0;
			opacity: 1 !important;
			position: absolute;
			width: 100%;
		}

		/* SCROLLBAR */
		::-webkit-scrollbar {
			width: 7px;
		}

		::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.4);
			border-radius: 3px;
			border: 1px solid #fff;
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: rgba(0, 0, 0, 0.5);
		}
	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.3/vuetify.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data() {
				return {
					experiences: [{
						name: 'DEAL Informatique',
						type: 'Alternance - Développeur Junior',
						details: `Conception et développement de composants d'interface utilisateur<br/>Conception et développement d'une application multicouche répartie en intégrant les recommandations de sécurité.`,
						logo: {
							url: 'https://deal.fr/wp-content/uploads/2022/09/cropped-android-chrome-512x512-1-32x32.png',
							width: "28px"
						},
						technos: ['Java', 'OSGI', 'Gradle', 'JWT.io', 'Liferay', 'Karaf', 'XML/UBL'],
						time: "Sep. 2022 - Aujourd'hui"
					},
					{
						name: 'Infographart',
						type: 'Freelance',
						logo: {
							url: 'https://cdn.infographart.com/logos/IFGA/LogoIFGA.svg',
						},
						details: `- Création et Maintenances d'ERP & CRM <br/>- Création de sites web, forums et blogs <br/>- Création d'une plateforme CMS et administration <br/>- Création de plateformes e-commerces`,
						technos: ['Vue.JS', 'PHP', 'MySQL', 'Firebase'],
						time: "2018 - Aujourd'hui"
					},
					{
						name: 'Instagram Recovery',
						type: 'Freelance',
						logo: {
							url: "https://hbrg.stan1712.com/drop/instagram-recovery.png"
						},
						details: `Création d'un utilitaire sous forme d'application web qui permets de récupérer les messages et données supprimées mais gardées sur Instagram.`,
						technos: ['Firebase', 'Vue.JS', 'Vite'],
						time: "Mai-Juin 2020"
					},
					{
						name: 'Météa',
						type: 'Freelance',
						details: `Installation et mise à niveau d'un système de gestion de fichiers et intranet en PHP avec une interface administrateur et utilisateur.`,
						technos: ['PHP', 'MySQL'],
						time: "Juin 2020"
					},
					{
						name: 'DEAL Informatique',
						type: 'Stage',
						logo: {
							url: 'https://deal.fr/wp-content/uploads/2022/09/cropped-android-chrome-512x512-1-32x32.png',
							width: "28px"
						},
						details: `Stage d'observation de troisième dans une entreprise de développement d'ERP.`,
						technos: [],
						time: "Décembre 2015"
					}],
					items: [
						{
							src: 'https://dam.malt.com/kumokiewrhwqbuhd4vfz?func=bound&w=512',
							title: 'Katana',
							text: 'ERP modulaires pour les petites, moyennes, ou grandes entreprises.',
							about: {
								text: "Katana offre un éventail de fonctionnalités allant de la gestion de relation client, gestion de stock, à la création d'un blog !",
								logo: "https://cdn.infographart.com/logos/KATANA/apple-touch-icon-120x120.png"
							},
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: 'https://media.discordapp.net/attachments/758361357095141396/758361382033817661/unknown.png?width=1280&height=720',
							title: 'Asiatex - E-Shop',
							text: 'E-shop en B2B réalisé avec Wordpress & WooCommerce.',
							link: 'https://e-shop.asiatex.fr/',
							technos: ['Wordpress', 'WooCommerce'],
							expand: false
						},
						/*{
							src: '',
							title: 'UpShoot',
							text: 'Application de gestion de projet vidéo.',
							technos: ['Vue.JS', 'Nuxt', 'Firebase']
						},*/
						{
							src: 'https://stan1712.com/share/vizion.wetstonrp.prot.png',
							title: 'ViZion',
							text: 'Solution de gestion de personnage Roleplay pour le serveur Minecraft WetstonRP.',
							link: 'https://vizion.wetstonrp.com/',
							technos: ['PHP', 'MySQL'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/beta.horizon.wetstonrp.com.prot.png',
							title: 'HoriZon',
							text: 'HoriZon est une interface en ligne permettant de gérer un personnage Roleplay, toujours pour le serveur Minecraft WetstonRP.',
							about: {
								text: "Successeur de ViZion, HoriZon est une interface en ligne regroupant tous les services publiques et entreprises liées au serveur Minecraft WetstonRP.",
								logo: "https://stan1712.com/share/LOGO-HOZIRON.png"
							},
							link: 'https://horizon.wetstonrp.com/',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/instagram-recovery.com.prot.png',
							title: 'Instagram Recovery',
							text: 'Plateforme de récupération de données supprimées et cachées par Instagram.',
							about: {
								text: "Instagram Recovery est un site permettant à chaque utilisateur de l'application et des services instagram à récupérer leurs conversations supprimées.",
								logo: "https://hbrg.stan1712.com/drop/instagram-recovery.png"
							},
							link: 'https://instagram-recovery.com',
							technos: ['Firebase', 'Vue.JS', 'Vite'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/agriflow.prot.png',
							title: 'AgriFlow',
							text: 'Application Desktop de gestion de stocks et marketplace web qui mets en relation les producteurs locaux avec les consommateurs.',
							about: {
								text: "A l'issue du Workshop 2022 de l'EPSI, nous avons réalisé en équipe une application Angular de gestion de stocks lié au marketplace par le biais d'une API REST développée avec Express.",
								logo: "https://gitlab.com/uploads/-/system/group/avatar/58627094/AGRO.png?width=128"
							},
							github: "https://gitlab.com/epsi-wpb3-grp6",
							technos: ['Angular', 'Node.JS', 'Express', 'Firebase'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/tribido.prot.png',
							title: 'TriBidO',
							text: 'Application de vente aux enchères en ligne.',
							about: {
								text: "Projet EPSI : Par équipe, nous avons réalisé une application type marketplace permettant la mise en ligne et l'achat de biens mis aux enchères.",
								logo: "https://tribido-db3zywu53-stanislasbdx.vercel.app/tbo-heart.png"
							},
							link: 'https://tribido-db3zywu53-stanislasbdx.vercel.app',
							github: 'https://github.com/stanislasbdx/TriBidO',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/slash.stan1712.com.prot.png',
							title: 'Stan Is Slash',
							text: 'Blog fait en PHP des plus belles punchlines.',
							link: 'https://slash.stan1712.com/',
							github: 'https://github.com/stan1712/StanIsSlash',
							technos: ['PHP', 'MySQL'],
							expand: false
						},
						{
							src: 'https://dam.malt.com/rn8x1b60eotbjq0pexun?func=bound&w=512',
							title: 'RollEat',
							text: 'Application de livraison de repas aléatoires à domicile.',
							about: {
								text: "RollEat c'est une application gratuite qui permets sur un coup de tête de pouvoir générer un repas aléatoire en fonction de vos goûts !",
								logo: "https://avatars.githubusercontent.com/u/75129344"
							},
							github: 'https://github.com/RollEat/RollEat',
							technos: ['Vue.JS', 'Firebase'],
							expand: false
						},
						{
							src: 'https://www.eothello.com/images/favicon_othello.png',
							title: 'Othello',
							text: 'Reproduction du jeu Othello en python (projet EPSI).',
							github: 'https://github.com/stan1712/EPSI-Othello',
							technos: ['Python'],
							expand: false
						},
						{
							src: 'https://stan1712.com/share/stan1712.com.prot.png',
							title: 'Portfolio',
							text: 'Portfolio actuel qui regroupe, présentation, compétences, expériences et projets.',
							github: 'https://github.com/stanislasbdx/stan1712.com',
							link: "https://stan1712.com",
							technos: ['HTML & CSS', 'Vue', 'Vuetify'],
							expand: false
						},
					],
					stats: [
						[0, 'Projets'],
						[34, 'Technologies maitrisées'],
						[7, 'Certifications'],
						[0, 'Téléchargements'],
					],
					landImg: [
						"https://firebasestorage.googleapis.com/v0/b/katana-main/o/companies%2F36C84mB7deUm2RGEMLTP%2Fportfolio%2FIMG_20200928_131237_800x800.webp?alt=media&token=98158c57-bd5c-4500-947c-1b0179909b85",
						"https://stan1712.com/share/IMG_20200928_131237.webp"
					]
				}
			},
			mounted() {
				fetch("https://api.spiget.org/v2/authors/114782/resources").then(response => response.json()).then(response => {
					response.forEach((resource) => {
						this.items.push({
							src: `https://www.spigotmc.org/` + resource.icon.url,
							title: resource.name,
							text: resource.tag,
							github: resource.sourceCodeLink,
							link: `https://www.spigotmc.org/resources/${resource.name}.${resource.id}/`,
							technos: ['Spigot MC', 'Java']
						});

						this.stats[3][0] += Number(resource.downloads);
					});
				});

				this.stats[0][0] = this.items.length + 8;
			}
		})
	</script>
</body>

</html>